@charset 'utf-8';

/*공통 세팅*/
.suit {font-family: 'SUIT', sans-serif !important; letter-spacing: -0.08rem !important;}
.montserrat {font-family: 'Montserrat', sans-serif !important;}
.point_t {color:#4DA6FF !important;}
.white_t {color:#fff !important;}
.sky_bg {background: #f3f5f9 !important;}
.white_bg {background: #fff !important;}
.over_hide {overflow: hidden !important;}
/*공통 세팅 END*/

/*네비게이션 영역 START*/
#SampleNav {width:100%; padding:0 8%; display:flex; justify-content: space-between; align-items: center; position:absolute; top:0; left:0; z-index: 3;}
#HomeBtn {height:24px; display:block;}
#HomeBtn > img {height:100%;}
#GnbNav > ul {display:flex; gap:40px;}
#GnbNav > ul > li a {padding:42px 16px; color:#fff; font-weight:600;  letter-spacing: 0; display:inline-block;}
/*네비게이션 영역 END*/

/*메인 섹션 START*/
#Section1 {width:100%; height:100vh; max-height:1080px; background-image: url("../images/main_section_1_bg.png"); background-size: cover; background-position: center; position:relative; display:flex; justify-content: center; align-items: center;}
.section_bg {width:100%; height:100%; background: #000; opacity: 0.7; position:absolute;z-index: 2; left:0; top:0;}
.content_contain {display:flex; flex-direction: column; gap:36px; z-index: 3; position:relative;}
.content {color:#fff; font-size:24px; font-weight: 600; display:flex; flex-direction: column; align-items: center; gap:36px;}
.content > p {text-align: center; line-height:140%;}
.defult_btn {padding:12px 16px; background-color:#fff; color:#222; font-size:18px; font-weight:700; display:flex; justify-content: center; align-items: center; border-radius:100px; gap:4px; width:max-content;}
.ico_mouse {position:absolute; bottom:80px; left:50%; transform:translate(-50%, -50%); z-index: 3;}
/*메인 섹션 END*/

/*샘플 섹션 START*/
#Section_s {width:100%; height:100vh; display:flex; justify-content: center; align-items: center;}
.content > .info_title {font-size:40px; text-align: center; line-height: 130%; color:#222; font-weight:900; letter-spacing: -0.02rem;}
.content > .info_contents {font-size:20px; line-height: 168%; font-weight:400; color:#555; text-align: center;}
.content > .info_contents > strong {color:#222;}
/*샘플 섹션 END*/

/*풋터 섹션 START*/
footer {width:100%; padding:40px 0; display: flex; justify-content: center; align-items: center; background:#222;}
.flex_row_space {display:flex; gap:40px;}
.flex_row_space > img {height:29px; margin:2px 4px 3px 3px;}
.flex_row_space > .footer_infor {display:flex; flex-direction: column; font-size:12px;}
.flex_row_space > .footer_infor > ul > li {color:#c2c2c2; letter-spacing: -0.02rem; height:20px;}
.flex_row_space > .footer_infor > ul > li > strong {color:#fff;}
.flex_row_space > .footer_infor > ul > li:nth-child(2) {margin:4px 0;}
.flex_row_space > .footer_infor > .e_mp_h {color:#fff; height:20px; margin:14px 0 0;}
.flex_row_space > .footer_infor > .e_mp_h > span {color:#c6c6c6;}
.flex_row_space > .footer_infor > .Copyright {color:#c2c2c2; margin:35px 0 0; height:20px;}
/*풋터 섹션 END*/

/*WORK 디폴트 START*/
#SubBgWrap {width:100%; height:68vh; max-height:736px; background-size: cover; background-position: center; position:relative; display:flex; justify-content: center; align-items: center;}
#SubBgWrap.work_bg {background-image: url("../images/work_banner_bg.png");}
.sub_title_wrap {z-index: 3;}
.sub_title_wrap h3 {font-size:80px; font-weight:700; line-height:140%; letter-spacing: -0.02rem; text-align: center; color:#fff;}
.sub_title_wrap p {font-size:24px;  font-weight:600; line-height:140%; text-align: center; color:#fff;}
#SubSectionFull {width:100%; padding: 150px 10% 230px; display:flex; flex-direction: column; gap:100px;}
.fel_row_rev {flex-direction: row-reverse;}
.flex_row_space.mw_152 {max-width:1520px;}
.flex_row_space > .contian_img {width:48.5%; height:100%; overflow: hidden; border-radius: 20px;}
.flex_row_space > .text_wrap_center {width:48.5%; display:flex; flex-direction: column; justify-content: center; align-items: center; gap:36px;}
.text_wrap_center > h3 {font-size:40px; font-weight:800; line-height:130%; letter-spacing: -0.02rem; text-align: center; color:#222;}
.text_wrap_center > p {font-size:20px; font-weight:400; line-height:168%; letter-spacing: -0.02rem; text-align: center; color:#555;}
/*WORK 디폴트 END*/

/*PLACE 디폴트 START*/
#SubBgWrap.place_bg {background-image: url("../images/place_banner_bg.png");}
#SubSectionFull.center {padding:150px 0 150px; justify-content: center; align-items: center; gap:68px;}
.title_wrap.al_center {text-align: center;}
.title_wrap > span {color: #4C96F9; font-size:16px; line-height:130%; display:block; font-weight:600; letter-spacing:-0.02rem; margin:0 0 9px;}
.title_wrap > h3 {color:#222; font-size:40px; line-height:130%; letter-spacing: -0.02rem;}
.pl_text_wrap > p {font-weight:400; font-size:20px; line-height:34px; margin:31px 0 0; text-align: center; color:#333;}
.flex_row_th {display:flex; gap:34px;}
.flex_row_th > .flex_items {width:416px; height:304px; padding:0 42px 52px 56px; display:flex; flex-direction: column; justify-content: flex-end; border-radius: 30px; background:#fff; box-shadow: 5px 10px 25px rgba(0,0,0,0.15); position:relative;}
.flex_row_th > .flex_items > img {width:103px; position:absolute; top:40px; right:30px;}
.flex_row_th > .flex_items > h3 {margin:0 0 18px; font-size:30px; line-height:130%; letter-spacing: -0.02rem; color:#4da6ff;}
.flex_row_th > .flex_items > p {font-size:16px; line-height:34px; letter-spacing: 0; color:#333; font-weight:400;}

.slider_bann {height:830px; display:flex; align-items: center; background: #222; justify-content: center;}
.slider_bann > .img_item2 {width:468px; margin: 0 140px 0 0;}
.slider_bann > .img_item2 > img {width:100%;}
.bann_text > h3 {font-size:40px; line-height: 130%; letter-spacing: -0.02rem; color:#fff;}
.bann_text > h4.suit {font-size:25px; line-height: 34px; color:#fff; font-weight:600; margin:40px 0 22px;}
.bann_text > p {font-family: 'SUIT', sans-serif; font-size:20px; line-height: 34px; color:#fff; font-weight:400; opacity:0.6; letter-spacing: -0.08rem;}
.bann_text > ul {margin:30px 0 0;}
.bann_text > ul > li {margin:0 0 15px; font-size:25px; line-height: 34px; color:#fff; font-weight:400;}
.bann_text > ul > li > span {font-weight:800;}

.inportence {background: #222; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.inportence > .img_box {display:flex; gap:18px; margin:50px 0 70px;}
.inportence > .img_box img {width:340px;}

.radius_box {background:#fff; padding:32px 86px; position: relative; border-radius: 100px; box-shadow: 5px 10px 25px rgba(0,0,0,0.08);}
.radius_box > h3 {font-size:30px; line-height: 130%; text-align: center;}
.radius_box > .imot_ico {position:absolute; right:-22px; top:-50px;}

.line_text {width:100%; margin: 120px 0 0; padding: 110px 0;background:#4DA6FF; display:flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;}
.line_text > h3 {font-size:40px; line-height: 130%; letter-spacing: -0.02rem;}
.line_text > p {font-size:20px; line-height: 34px; font-weight:400; margin:30px 0 0;}
.line_text > h4 {font-size:20px; line-height: 46px; font-weight:700;}
.impact {width:100%; padding:120px 0 0; background:#fff; display: flex; flex-direction: column; flex-direction: center; justify-content: center; align-items: center;}
.impact > .text_box {text-align: center;}
.impact > .text_box > h3 {font-weight:800; font-size:40px; line-height: 130%; letter-spacing: -0.02rem;}
.impact > .text_box > h4 {font-weight:600; font-size:25px; line-height: 34px; margin:16px 0 32px;}
.impact > .text_box > p {font-weight:400; font-size:20px; line-height: 34px;}
.impact > .img_box {position:relative; margin:86px 0 70px;}
.impact > .img_box > .p_ab_1 {position: absolute; bottom:64px; left:-70px}
.impact > .img_box > .p_ab_2 {position: absolute; top:22px; right:-70px}
.mark {overflow: hidden; display:flex; height: 542px; gap:94px; margin:70px 0 0;}
.mark > .img_box {position:relative; width:600px;}
.mark > .img_box > img:nth-child(1) {position: absolute; left:0; width:297px;}
.mark > .img_box > img:nth-child(2) {position: absolute; right:0; width:372px;}
.mark_text {text-align: center; margin:72px 0 0;}
.mark_text > h3 {font-weight:800; font-size:40px; font-weight:600; line-height: 130%; letter-spacing: -0.02rem; color:#222;}
.mark_text > h3 > span {font-weight:400;}
.mark_text > .item_box {display:flex; gap:15px; margin: 25px 0 22px;}
.mark_text > .item_box > .item {background:#f4f4f4; border-radius:20px; padding:22px 38px; text-align: center;}
.mark_text > .item_box > .item > span {font-size:22px; font-weight:700; letter-spacing: -0.02rem; color:#222; display:block;}
.mark_text > .item_box > .item > h1 {font-size:50px; line-height:130%; letter-spacing: -0.02rem;}
.mark_text > p {font-weight:400; line-height: 34px; color:#222;}
/*PLACE 디폴트 END*/

/*STORE 디폴트 START*/
#SlideText {display:flex; gap:78px; width:max-content;}
#SlideText .slick-slide {pointer-events: auto; user-select: auto; }
.radius_box > .imot_ico2 {position:absolute; left:-77px; top:-57px;}

#StoreSection {width:100%; background: #fff; padding:180px 0 0;}
.grid_text_box {position: relative; padding: 52px 194px 23px; width:1316px; border-radius:30px; margin: 57px auto 0;}
.grid_temp {position:relative; display:grid; grid-template-columns: repeat(3, 1fr); padding:82px 52px; grid-gap: 30px;}
.grid_temp > .gr_bg {width:100%; height:100%; position:absolute; left:0; top:0; opacity: 0.3; background-image: url("../images/stroe_grid_bg.png"); background-size: cover; background-repeat: no-repeat;}
.radius_box.grid_items {padding:32px 0; z-index: 3;}

#GraphSection {background:rgba(77,166,255,0.08); padding:130px 0 150px; margin:180px 0 0;}
.graph_wrap {display: flex; flex-direction: column; justify-content: center; align-items: center; gap:66px; margin:70px 0 0;}
.graph_bann {padding:121px 118px 102px 107px; display:flex; justify-content: space-between; width:1316px; background: #fff; border-radius: 50px; box-shadow: -1px 11px 11px rgba(0,0,0,0.04);}
.graph_bann > .text_box {text-align: left;}
.graph_bann > .text_box > h3 {font-weight:800; font-size:30px; font-weight:600; line-height: 130%; letter-spacing: -0.02rem; color:#222; margin:30px 0 0;}
.graph_bann > .text_box > p {font-weight:400; font-size:20px; line-height: 34px; margin:16px 0 0;}
.graph_bann > .graph_wrap_img {width:569px; height:325px;}
.store_Marketing {background:#222; padding:180px 0 0;}
.step_wrap {width:810px; display: flex; flex-wrap:wrap; justify-content: space-between; margin: 90px auto 0; gap:110px;}
.step_wrap > .step_items {display:flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;}
.step_items > .img_box {position:relative; width:196px; height:196px; background:#fff; border-radius:30px; box-shadow: 5px 10px 25px rgba(0,0,0,0.15); display:flex; align-items: center; justify-content: center;}
.step_items > .img_box > img {width:100%;}
.step_items > .img_box > .step_line {position:absolute; left:100%; top:50%; transform: translate(0% , -50%); z-index: 3}
.step_line > .line {height:2px; width:110px; background: #4DA6FF; position:relative;}
.step_line > .line > .circle {position:absolute; left:100%; top:50%; transform: translate(-50%, -50%);width:25px; height:25px; background:rgba(77,166,255,0.3); display:flex; justify-content: center; align-items: center; border-radius:25px;}
.step_line > .line > .circle > .circle_p {width:10px; height:10px; background: #4DA6FF; border-radius:10px;}
.step_items > .text_box {margin:18px 0 0;}
.step_items > .text_box > h3 {font-weight:800; font-size:20px; font-weight:bold; line-height: 34px;}
.step_items > .text_box > p {font-weight:800; font-size:20px; font-weight:500; line-height: 34px;}
.bg_ban_info {background:#222; position:relative; height:760px;}
.bg_ban_info > .bg_ban_img {width:100%; position: absolute; left:0; top:0; z-index: 0;}
.bg_ban_info > h3 {position: relative; font-size:40px; line-height:130%; letter-spacing: -0.02rem; text-align: center; z-index: 3; margin:160px 0 0;}
.bg_ban_info > .call {width: max-content; position: relative; margin:130px auto 16px; display:flex; align-items: center; z-index: 3; gap:8px;}
.call > .text_box > h3 {font-weight:800; font-size:40px; line-height: 130%; letter-spacing: -0.02rem;}
.call > .text_box > p {font-size:20px; line-height: 34px; margin:9px 0 13px;}
.radius_box.samll {width: max-content; padding:12px 21px 12px; display:flex; gap:2px; font-size:15px; font-weight:800;}
/*STORE 디폴트 END*/

/*SHORT-FROM 디폴트 START*/
#ShortForm {background: linear-gradient(to bottom, #222 25%, #4DA6FF 100%); padding:150px 0 0;}
.bg_img_wrap {padding:72px 0 105px 114px; position:relative; display:flex; flex-direction: column; align-items: flex-start; gap:88px; width:1316px; height:560px; margin:50px auto 130px; border-radius: 30px; box-shadow: 5px 10px 25px rgba(0,0,0,0.15);}
.bg_img_wrap > img {position:absolute; left:0; top:0; width:100%; opacity: 0.2;}
.bg_img_wrap > span {position: absolute; right:36px; top:24px; color:#c6c6c6;}
.bg_img_wrap > .text_box {position:relative; z-index: 3;}
.bg_img_wrap > .text_box > h1 {font-size:100px; line-height: 130%; letter-spacing: -0.02rem; font-weight:800;}
.bg_img_wrap > .text_box > p {font-size:20px; line-height: 130%; font-weight:600;}
.point_section {width:1316px; display:flex; justify-content: space-between; margin:0 auto;}
.point_wrap {margin:100px 0 110px; width:643px; border-radius: 30px; background:rgba(77,166,255,0.15); box-shadow: 5px 10px 25px rgba(0,0,0,0.15);}
.point_wrap > h3 {padding: 22px 0;font-size:20px; line-height: 130%; letter-spacing: -0.02rem; text-align: center;}
.point_wrap > .point_item {width:100%; background: #fff; padding:52px; border-radius: 30px;}
.point_item > h3 {font-size:25px; line-height: 130%; letter-spacing: -0.02rem; margin:0 0 25px; color:#222;}
.point_item > p {font-size:20px; line-height: 28px; color:#222;}
#BusinessSlide {display: flex; width:100%; gap:26px; padding: 92px 0 110px;}
#BusinessSlide .slide_items {display:flex; flex-direction: column; justify-content: center; align-items: center;}
#BusinessSlide .slide_items > .img_box {width: 356px; height:300px; background:#fff; border-radius: 30px; box-shadow: 5px 10px 25px rgba(0,0,0,0.15); display:flex; justify-content: center; align-items: center;}
#BusinessSlide .slide_items > span {font-size:20px; line-height: 34px; font-weight:700; margin:26px 0 0;}
/*SHORT-FROM 디폴트 END*/

/*EXPERIENCE GROUP 디폴트 START*/
.exp_gro_section1 {padding:140px 0 150px; background: linear-gradient(to bottom, #ededed 26%, rgba(77,166,255,0.6) 100%); margin:0 0 110px;}
.exp_gro_bann_wrap {padding:64px 85px; width:1080px; border-radius: 30px; height:273px; margin:70px auto 170px; background:#fff; box-shadow: 5px 10px 25px rgba(0,0,0,0.15); display:flex; position:relative;}
.exp_gro_bann_wrap > img {position:absolute; right:90px; bottom:0;}
.exp_gro_section1 > .flex_row_th {width:1080px; justify-content: space-between; margin:54px auto 0;}
.balloon_box {width:336px; height:110px; background:#fff; border-radius: 30px; position:relative; display:flex; justify-content: center; align-items: center;}
.balloon_box p {text-align: center; font-size:19px; color:#222; line-height:27px; font-weight: semibold;}
.balloon_box > img {position: absolute; left:50%; bottom:-25px; transform: translate(-50%, -50%);}
.clip_box {display:flex; flex-direction: column; justify-content: center; align-items: center; margin:70px 0 0;}
.clip_box > h3 {font-size:25px; font-weight:bold; line-height:130%; letter-spacing: -0.02rem; color:#555; margin:30px 0 11px;}
.clip_box > p {font-size:20px; font-weight:regular; line-height:34px; color:#555;}
.list_img_wrap {display:flex; justify-content: space-between; align-items: center; margin:55px auto 0; width:1250px; padding:0 0 110px;}
.list_radius_wrap {width:50%; height:580px; display:flex; flex-direction:column; justify-content: space-between;}
.list_radius_wrap > .list_items {border-radius: 100px; box-shadow: 5px 10px 25px rgba(0,0,0,0.05); padding:30px 20px 30px 70px;}
.list_radius_wrap > .list_items > h3 {font-size:25px; color:#333; line-height:130%;}
.list_radius_wrap > .list_items > p {font-size:20px; line-height:34px; color:#555; margin:13px 0 0;}
.exp_gro_section2 {background:#ededed; padding:106px 0 106px;}
.exp_gro_section2 > .exp_gro_bann_wrap {margin:0 auto; height:230px; box-shadow:5px 10px 25px rgba(0,0,0,0);}
.exp_gro_section2 > .exp_gro_bann_wrap > img {top:50%; transform:translate(0%, -50%);}
/*EXPERIENCE GROUP 디폴트 END*/

/*OFFERWALL 디폴트 START*/
.off_silde_section1 {background:#f8f8f8; padding:140px 0 170px;}
.off_silde_section1 .off_slide_wrap {margin:90px auto 0; display:flex; justify-content: space-between; align-items: center; width:1200px; height:358px;}
/*.off_slide_wrap .silde_wrap {width:100%;}*/
.off_silde_section2 {padding:150px 0 0;}
.grid_temp_fi {display: grid; grid-template-columns: repeat(2, 1fr); gap: 30px; width:1316px; margin:110px auto 0;}
.grid_temp_fi > .point_wrap {width:100%; margin:0; box-shadow: 5px 5px 15px rgba(161,208,255,0.2);}
.grid_temp_fi > .point_wrap > .point_item {height:219px; display:flex; justify-content: center; align-items: center;}
.grid_temp_fi > .point_wrap > .point_item > p {text-align: center;}
.point_wrap.grid_w {grid-column: span 2; width:100%;}
.off_silde_section3 {padding:150px 0 150px;}
.off_silde_section3 > .flex_row_th {gap:100px; margin:70px 0 0; justify-content: center;}
.off_silde_section3 > .flex_row_th > .off_img_text_wrap {display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;}
.off_img_text_wrap > h3 {font-size:30px; font-weight:800; line-height:130%; letter-spacing: -0.02rem; margin: 6px 0 18px;}
.off_img_text_wrap > p {font-size:20px; font-weight:400; line-height:34px; color:#333;}
/*OFFERWALL 디폴트 END*/

/*Media publicity start*/
.madia_section1 {display:flex; flex-direction: column; justify-content: center; align-items: center; padding: 140px 0; background: linear-gradient(to bottom, #fff 35%, rgba(77,166,255,0.1) 100%);}
.madia_section1 > img {margin: 90px 0 240px;}
.graph_box {display:flex; width:1315px; height:710px; justify-content: center; align-items: center; background:#fff; border-radius: 50px;}
.graph_box > .graph_items {width:50%;}
.gray_s {background:rgba(211,211,211,0.5); color:#6c6c6c; display:inline-block; border-radius: 10px; padding:7px 14px;}
.graph_title h3 {font-size:30px; font-weight:800; line-height:130%; letter-spacing: -0.02rem; margin: 15px 0 0; color:#222;}
.graph_box > .graph_items:first-child {padding: 20px 0 0 80px;}
.graph_box > .graph_items > img {margin: 50px 0 0;}
.madia_section2 {display:flex; flex-direction: column; justify-content: center; align-items: center; padding: 140px 0;}
.madia_section2 > img {margin:60px 0;}
.bord_radius_box {border:1px solid #c8c8c8; background: #fff; border-radius:30px; padding:70px 110px 80px;}
.madia_section3 {background:#222; display:flex; flex-direction: column; justify-content: center; align-items: center; padding: 140px 0;}
.madia_section3 > .media_process_box {display:flex; flex-direction: column; gap:66px; margin:70px 0 0;}
.media_process_box > .flex_row_th {gap:135px;}
.media_process_box > .flex_row_th > .process_items {position:relative; display:flex; flex-direction:column; justify-content: space-between; align-items: flex-start; background:#fff; border-radius:30px; width:370px; height:232px; padding:30px 0 30px 30px;}
.media_process_box > .flex_row_th > .process_items > .title_img {display:flex; justify-content: space-between; width:100%; padding:0 30px 0 0;}
.media_process_box > .flex_row_th > .process_items > .title_img > h3 {font-size:30px; font-weight:800; line-height:130%; letter-spacing: -0.02rem;}
.media_process_box > .flex_row_th > .process_items > p {font-size:20px; font-weight:400; line-height:30px; color:#333;}
.media_process_box > .flex_row_th > .process_items > .step_line {position:absolute; left:100%; top:50%; transform: translate(0% , -50%); z-index: 3}
.media_process_box > .flex_row_th > .process_items > .step_line > .line {width:135px;}
.media_process_box > .flex_row_th > .process_items > .step_line.down_line {position: absolute; left:50%; top:100%; transform: translate(-50%, 0);}
.media_process_box > .flex_row_th > .process_items > .step_line.down_line > .line {width:2px; height:66px;}
.media_process_box > .flex_row_th > .process_items > .step_line.down_line > .line > .circle {top:100%;}
.media_process_box > .flex_row_th:last-child > .process_items > .step_line {transform: rotate(180deg);}
/*Media publicity end*/

/*Power link start*/
.powor_section1 {background: linear-gradient(to top, rgba(77,166,255,1) 0%, #fff 64%); padding:140px 0 200px; display: flex; flex-direction: column; justify-content: cneter; align-items: center;}
.naver_search {height:168px; margin:70px auto 6px; display:block;}
.link_search {margin:40px 0 150px;}
.pl_text_wrap.mar_120 {margin:120px 0 0;}
.keyword_wrap {display:flex; justify-content: center; align-items: center; flex-direction: column; padding:80px 150px 50px; background: #fff; border-radius: 30px; margin: 0 0 120px;}
.keyword_balloon {background: #4DA6FF; position:relative; padding:16px 54px; border-radius:30px;}
.keyword_balloon > p {font-size:20px; font-weight:500; line-height:130%; letter-spacing: -0.02rem;}
.keyword_balloon > img {position: absolute; left:50%; bottom:-6px; transform: translate(-50%, 0); width:14px;}
.keyword_wrap > .flex_row_th {align-items: center; margin:24px 0 24px;}
.fx_item_box {display:flex; flex-direction: column; justify-content: center; align-items: center; padding:15px 58px; background:rgba(198,222,247,0.3); border:1px solid rgba(77,166,255,0.3); border-radius:100px;}
.fx_item_box > p {font-size:20px; font-weight:500; line-height:34px; color:#6c6c6c;}
.fx_item_box > h3 {font-size:33px; font-weight:800; line-height:130%; color:#222;}
.brawser_wrap {padding:84px 60px; background:#fff; display:flex; justify-content: center; align-items: center; border-radius: 30px; margin: 74px auto; width:min-content;}
.powor_section2 {display:flex; flex-direction: column; justify-content: cneter; align-items: center; padding: 50px 0 150px;}
.powor_section2 > .title_wrap {margin:90px 0 45px;}
.powor_section2 > .two_arrow_wrap {display:flex; gap:65px; margin:0 0 30px;}
.powor_section2 > .two_arrow_wrap > .arrow_span1 {position: relative; width:280px; height:150px; border-radius: 30px; background: rgba(161,208,255,0.4); display:flex; justify-content: center; align-items: center; font-size:20px; text-align: center;}
.powor_section2 > .two_arrow_wrap > .arrow_span1 > img {position:absolute; left:100%; top:50%; transform: translate(0, -50%);}
.powor_section2 > .two_arrow_wrap > .arrow_span2 {position: relative; width:680px; height:150px; border-radius: 30px; background: rgba(77,166,255,0.3); display:flex; justify-content: center; align-items: center; font-size:20px; text-align: center; color:#333;}
/*Power link end*/